body {
    margin: 0;
  
    display: flex;
    justify-content: center;
    align-items: center; 
    background: lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;    
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}